# Docker Compose
COMPOSE_PROJECT_NAME=

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Redis
REDIS_PORT=

# Backend
BACKEND_PORT=
PRISMA_STUDIO_PORT=
NODE_ENV=development
TON_NETWORK=testnet
LOG_LEVEL=debug
LOG_TO_FILE=true
APP_VERSION=0.0.1
